/* ============================================================================
	Canvas styling
   ============================================================================ */

   #myCanvas{
		width: 100% !important;
		height: auto !important;
		-webkit-user-select: none;
   }

   .canvas-container{
		width: 100% !important;
		height: auto !important;
   }
   .upper-canvas{
		width: 100% !important;
		height: auto !important;
   }
