.clipartBox {
	position: absolute;
	z-index: 100;
	background-color: #444;
	overflow: hidden;
	display: none;
}

.clipartImageBox {
	background-color: #FAFAFA;
	width: 70%;
	height: 100%;
	float: right;
	overflow-y: auto;
}

.backgroundImageBox {
	background-color: #FAFAFA;
	width: 70%;
	height: 100%;
	float: right;
	overflow-y: auto;
}

.clipartCategoryBox {
	background-color: rgb(40, 170, 225);
	width: 30%;
	height: 100%;
	float: left;
	overflow-y: auto;
}

a.clipartCategoryText {
	padding-left: 15px;
	text-decoration: none;
	color: #FFF;
}

a.clipartCategoryText:hover {
	padding-left: 15px;
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
}

div.clipartSearchBox {
	padding: 15px;
}

input.clipartSearchBox {
	width: 100%;
}
