@font-face{
	font-family: boogaloottf;
	src: url('fonts/boogaloo-regular1-webfont.ttf');
	src: url('fonts/boogaloo-regular1-webfont.woff');
}

@font-face{
	font-family: boogaloottf;
	src: url('fonts/Boogaloo-Bold.ttf');
	src: url('fonts/Boogaloo-Bold.woff');
	font-weight: bold;
}

@font-face{
	font-family: boogaloottf;
	src: url('fonts/boogaloo-italic-regular1-webfont.ttf');
	src: url('fonts/boogaloo-italic-regular1-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: boogaloottf;
	src: url('fonts/Boogaloo-italic-Bold.ttf');
	src: url('fonts/Boogaloo-italic-Bold.woff');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: crimsontextttf;
	src: url('fonts/crimsontext-roman-webfont.ttf');
	src: url('fonts/crimsontext-roman-webfont.woff');
}

@font-face{
	font-family: crimsontextttf;
	src: url('fonts/crimsontext-bold-webfont.ttf');
	src: url('fonts/crimsontext-bold-webfont.woff');
	font-weight: bold;
}

@font-face{
	font-family: crimsontextttf;
	src: url('fonts/crimsontext-italic-webfont.ttf');
	src: url('fonts/crimsontext-italic-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: crimsontextttf;
	src: url('fonts/crimsontext-bolditalic-webfont.ttf');
	src: url('fonts/crimsontext-bolditalic-webfont.woff');
	font-style: italic;
	font-weight: bold;
}

@font-face{
	font-family: englandttf;
	src: url('fonts/england-webfont.ttf');
	src: url('fonts/england-webfont.woff');
}

@font-face{
	font-family: englandttf;
	src: url('fonts/england-Bold.ttf');
	src: url('fonts/england-Bold.woff');
	font-weight: bold;
}

@font-face{
	font-family: englandttf;
	src: url('fonts/england-italic-webfont.ttf');
	src: url('fonts/england-italic-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: englandttf;
	src: url('fonts/england-italic-Bold.ttf');
	src: url('fonts/england-italic-Bold.woff');
	font-style: italic;
	font-weight: bold;
}

@font-face{
	font-family: felipattf;
	src: url('fonts/felipa-regular-webfont.ttf');
	src: url('fonts/felipa-regular-webfont.woff');
}

@font-face{
	font-family: felipattf;
	src: url('fonts/Felipa-Bold.ttf');
	src: url('fonts/Felipa-Bold.woff');
	font-weight: bold;
}

@font-face{
	font-family: felipattf;
	src: url('fonts/felipa-italic-regular-webfont.ttf');
	src: url('fonts/felipa-italic-regular-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: felipattf;
	src: url('fonts/Felipa-italic-Bold.ttf');
	src: url('fonts/Felipa-italic-Bold.woff');
	font-style: italic;
	font-weight: bold;
}

@font-face{
	font-family: galsilttf;
	src: url('fonts/galsilr-webfont.ttf');
	src: url('fonts/galsilr-webfont.woff');
}

@font-face{
	font-family: galsilttf;
	src: url('fonts/galsilb-webfont.ttf');
	src: url('fonts/galsilb-webfont.woff');
	font-weight: bold;
}

@font-face{
	font-family: galsilttf;
	src: url('fonts/galsilr-italic-webfont.ttf');
	src: url('fonts/galsilr-italic-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: galsilttf;
	src: url('fonts/galsilb-italic-webfont.ttf');
	src: url('fonts/galsilb-italic-webfont.woff');
	font-style: italic;
	font-weight: bold;
}

@font-face{
	font-family: goblinonettf;
	src: url('fonts/GoblinOne-Thin.ttf');
	src: url('fonts/GoblinOne-Thin.woff');
}

@font-face{
	font-family: goblinonettf;
	src: url('fonts/goblinone-webfont.ttf');
	src: url('fonts/goblinone-webfont.woff');
	font-weight: bold;
}

@font-face{
	font-family: gravitasonettf;
	src: url('fonts/gravitasone-webfont.ttf');
	src: url('fonts/gravitasone-webfont.woff');
}

@font-face{
	font-family: gravitasonettf;
	src: url('fonts/GravitasOne-Bold.ttf');
	src: url('fonts/GravitasOne-Bold.woff');
	font-weight: bold;
}

@font-face{
	font-family: gravitasonettf;
	src: url('fonts/gravitasone-italic-webfont.ttf');
	src: url('fonts/gravitasone-italic-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: gravitasonettf;
	src: url('fonts/GravitasOne-italic-Bold.ttf');
	src: url('fonts/GravitasOne-italic-Bold.woff');
	font-style: italic;
	font-weight: bold;
}

@font-face{
	font-family: greatvibesttf;
	src: url('fonts/greatvibes-regular-webfont.ttf');
	src: url('fonts/greatvibes-regular-webfont.woff');
}

@font-face{
	font-family: greatvibesttf;
	src: url('fonts/GreatVibes-Bold.ttf');
	src: url('fonts/GreatVibes-Bold.woff');
	font-weight: bold;
}

@font-face{
	font-family: greatvibesttf;
	src: url('fonts/greatvibes-italic-regular-webfont.ttf');
	src: url('fonts/greatvibes-italic-regular-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: greatvibesttf;
	src: url('fonts/GreatVibes-italic-Bold.ttf');
	src: url('fonts/GreatVibes-italic-Bold.woff');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: hammersmithonettf;
	src: url('fonts/hammersmithone-webfont.ttf');
	src: url('fonts/hammersmithone-webfont.woff');
}

@font-face{
	font-family: hammersmithonettf;
	src: url('fonts/HammersmithOne-Bold.ttf');
	src: url('fonts/HammersmithOne-Bold.woff');
	font-weight: bold;
}

@font-face{
	font-family: hammersmithonettf;
	src: url('fonts/hammersmithone-italic-webfont.ttf');
	src: url('fonts/hammersmithone-italic-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: hammersmithonettf;
	src: url('fonts/HammersmithOne-italic-Bold.ttf');
	src: url('fonts/HammersmithOne-italic-Bold.woff');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: hennepennyttf;
	src: url('fonts/hennypenny-regular-webfont.ttf');
	src: url('fonts/hennypenny-regular-webfont.woff');
}

@font-face{
	font-family: hennepennyttf;
	src: url('fonts/HennyPenny-Bold.ttf');
	src: url('fonts/HennyPenny-Bold.woff');
	font-weight: bold;
}

@font-face{
	font-family: hennepennyttf;
	src: url('fonts/hennypenny-italic-regular-webfont.ttf');
	src: url('fonts/hennypenny-italic-regular-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: hennepennyttf;
	src: url('fonts/HennyPenny-italic-Bold.ttf');
	src: url('fonts/HennyPenny-italic-Bold.woff');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: kaushanscriptttf;
	src: url('fonts/kaushanscript-regular-webfont.ttf');
	src: url('fonts/kaushanscript-regular-webfont.woff');
}

@font-face{
	font-family: kaushanscriptttf;
	src: url('fonts/KaushanScript-Bold.ttf');
	src: url('fonts/KaushanScript-Bold.woff');
	font-weight: bold;
}

@font-face{
	font-family: kaushanscriptttf;
	src: url('fonts/kaushanscript-italic-regular-webfont.ttf');
	src: url('fonts/kaushanscript-italic-regular-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: kaushanscriptttf;
	src: url('fonts/KaushanScript-italic-Bold.ttf');
	src: url('fonts/KaushanScript-italic-Bold.woff');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: leaguegothicttf;
	src: url('fonts/leaguegothic-regular-webfont.ttf');
	src: url('fonts/leaguegothic-regular-webfont.woff');
}

@font-face{
	font-family: leaguegothicttf;
	src: url('fonts/leaguegothic-bold-webfont.ttf');
	src: url('fonts/leaguegothic-bold-webfont.woff');
	font-weight: bold;
}

@font-face{
	font-family: leaguegothicttf;
	src: url('fonts/leaguegothic-italic-webfont.ttf');
	src: url('fonts/leaguegothic-italic-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: leaguegothicttf;
	src: url('fonts/leaguegothic-italic-bold-webfont.ttf');
	src: url('fonts/leaguegothic-italic-bold-webfont.woff');
	font-style: italic;
	font-weight: bold;
}

@font-face{
	font-family: limelightttf;
	src: url('fonts/limelight-webfont.ttf');
	src: url('fonts/limelight-webfont.woff');
}

@font-face{
	font-family: limelightttf;
	src: url('fonts/Limelight-Bold.ttf');
	src: url('fonts/Limelight-Bold.woff');
	font-weight: bold;
}

@font-face{
	font-family: limelightttf;
	src: url('fonts/limelight-italic-webfont.ttf');
	src: url('fonts/limelight-italic-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: limelightttf;
	src: url('fonts/Limelight-italic-Bold.ttf');
	src: url('fonts/Limelight-italic-Bold.woff');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: lobstertwottf;
	src: url('fonts/lobstertwo-regular-webfont.ttf');
	src: url('fonts/lobstertwo-regular-webfont.woff');
}

@font-face{
	font-family: lobstertwottf;
	src: url('fonts/lobstertwo-bold-webfont.ttf');
	src: url('fonts/lobstertwo-bold-webfont.woff');
	font-weight: bold;
}

@font-face{
	font-family: lobstertwottf;
	src: url('fonts/lobstertwo-italic-webfont.ttf');
	src: url('fonts/lobstertwo-italic-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: lobstertwottf;
	src: url('fonts/lobstertwo-bolditalic-webfont.ttf');
	src: url('fonts/lobstertwo-bolditalic-webfont.woff');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: maidenoragettf;
	src: url('fonts/maidenorange-webfont.ttf');
	src: url('fonts/maidenorange-webfont.woff');
}

@font-face{
	font-family: maidenoragettf;
	src: url('fonts/MaidenOrange-Bold.ttf');
	src: url('fonts/MaidenOrange-Bold.woff');
	font-weight: bold;
}

@font-face{
	font-family: maidenoragettf;
	src: url('fonts/maidenorange-italic-webfont.ttf');
	src: url('fonts/maidenorange-italic-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: maidenoragettf;
	src: url('fonts/MaidenOrange-italic-Bold.ttf');
	src: url('fonts/MaidenOrange-italic-Bold.woff');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: nunitottf;
	src: url('fonts/nunito-light-webfont.ttf');
	src: url('fonts/nunito-light-webfont.woff');
}

@font-face{
	font-family: nunitottf;
	src: url('fonts/nunito-bold-webfont.ttf');
	src: url('fonts/nunito-bold-webfont.woff');
	font-weight: bold;
}

@font-face{
	font-family: nunitottf;
	src: url('fonts/nunito-italic-light-webfont.ttf');
	src: url('fonts/nunito-italic-light-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: nunitottf;
	src: url('fonts/nunito-italic-bold-webfont.ttf');
	src: url('fonts/nunito-italic-bold-webfont.woff');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: robotottf;
	src: url('fonts/roboto-regular-webfont.ttf');
	src: url('fonts/roboto-regular-webfont.woff');
}

@font-face{
	font-family: robotottf;
	src: url('fonts/roboto-italic-webfont.ttf');
	src: url('fonts/roboto-italic-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: robotottf;
	src: url('fonts/roboto-black-webfont.ttf');
	src: url('fonts/roboto-black-webfont.woff');
	font-weight: bold;
}

@font-face{
	font-family: robotottf;
	src: url('fonts/roboto-blackitalic-webfont.ttf');
	src: url('fonts/roboto-blackitalic-webfont.woff');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: robotocondensedttf;
	src: url('fonts/robotocondensed-regular-webfont.ttf');
	src: url('fonts/robotocondensed-regular-webfont.woff');
}

@font-face{
	font-family: robotocondensedttf;
	src: url('fonts/robotocondensed-bold-webfont.ttf');
	src: url('fonts/robotocondensed-bold-webfont.woff');
	font-weight: bold;
}

@font-face{
	font-family: robotocondensedttf;
	src: url('fonts/robotocondensed-italic-webfont.ttf');
	src: url('fonts/robotocondensed-italic-webfont.woff');
	font-style: italic;
}

@font-face{
	font-family: robotocondensedttf;
	src: url('fonts/robotocondensed-bolditalic-webfont.ttf');
	src: url('fonts/robotocondensed-bolditalic-webfont.woff');
	font-style: italic;
	font-weight: bold;
}
