#fontLoad {
    left: -2500px;
    position: absolute;
}

#boogaloottf{
 font-family: boogaloottf;
}#boogaloottfb{
 font-family: boogaloottf;
 font-weight: bold;
}#boogaloottfi{
 font-family: boogaloottf;
 font-style: italic;
}#boogaloottfbi{
 font-family: boogaloottf;
 font-style: italic;
 font-weight: bold;
}#crimsontextttf{
 font-family: crimsontextttf;
}#crimsontextttfb{
 font-family: crimsontextttf;
 font-weight: bold;
}#crimsontextttfi{
 font-family: crimsontextttf;
 font-style: italic;
}#crimsontextttfbi{
 font-family: crimsontextttf;
 font-weight: bold;
 font-style: italic;
}#englandttf{
font-family: englandttf;
}#englandttfb{
font-family: englandttf;
font-weight: bold;
}#englandttfi{
font-family: englandttf;
font-style: italic;
}#englandttfbi{
font-family: englandttf;
font-weight: bold;
font-style: italic;
}#felipattf{
font-family: felipattf;
}#felipattfb{
font-family: felipattf;
font-weight: bold;
}#felipattfi{
font-family: felipattf;
font-style: italic;
}#felipattfbi{
font-family: felipattf;
font-weight: bold;
font-style: italic;
}#galsilttf{
font-family: galsilttf;
}#galsilttfb{
font-family: galsilttf;
font-weight: bold;
}#galsilttfi{
font-family: galsilttf;
font-style: italic;
}#galsilttfbi{
font-family: galsilttf;
font-weight: bold;
font-style: italic;
}#goblinonettf{
font-family: goblinonettf;
}#goblinonettfb{
font-family: goblinonettf;
font-weight: bold;
}#gravitasonettf{
font-family: gravitasonettf;
}#gravitasonettfb{
font-family: gravitasonettf;
font-weight: bold;
}#gravitasonettfi{
font-family: gravitasonettf;
font-style: italic;
}#gravitasonettfbi{
font-family: gravitasonettf;
font-weight: bold;
font-style: italic;
}#greatvibesttf{
font-family: greatvibesttf;
}#greatvibesttfb{
font-family: greatvibesttf;
font-weight: bold;
}#greatvibesttfi{
font-family: greatvibesttf;
font-style: italic;
}#greatvibesttfbi{
font-family: greatvibesttf;
font-weight: bold;
font-style: italic;
}#hammersmithonettf{
font-family: hammersmithonettf;
}#hammersmithonettfb{
font-family: hammersmithonettf;
font-weight: bold;
}#hammersmithonettfi{
font-family: hammersmithonettf;
font-style: italic;
}#hammersmithonettfbi{
font-family: hammersmithonettf;
font-weight: bold;
font-style: italic;
}#hennepennyttf{
font-family: hennepennyttf;
}#hennepennyttfb{
font-family: hennepennyttf;
font-weight: bold;
}#hennepennyttfi{
font-family: hennepennyttf;
font-style: italic;
}#hennepennyttfbi{
font-family: hennepennyttf;
font-weight: bold;
font-style: italic;
}#kaushanscriptttf{
font-family: kaushanscriptttf;
}#kaushanscriptttfb{
font-family: kaushanscriptttf;
font-weight: bold;
}#kaushanscriptttfi{
font-family: kaushanscriptttf;
font-style: italic;
}#kaushanscriptttfbi{
font-family: kaushanscriptttf;
font-weight: bold;
font-style: italic;
}#leaguegothicttf{
font-family: leaguegothicttf;
}#leaguegothicttfb{
font-family: leaguegothicttf;
font-weight: bold;
}#leaguegothicttfi{
font-family: leaguegothicttf;
font-style: italic;
}#leaguegothicttfbi{
font-family: leaguegothicttf;
font-weight: bold;
font-style: italic;
}#limelightttf{
font-family: limelightttf;
}#limelightttfb{
font-family: limelightttf;
font-weight: bold;
}#limelightttfi{
font-family: limelightttf;
font-style: italic;
}#limelightttfbi{
font-family: limelightttf;
font-weight: bold;
font-style: italic;
}#lobstertwottf{
font-family: lobstertwottf;
}#lobstertwottfb{
font-family: lobstertwottf;
font-weight: bold;
}#lobstertwottfi{
font-family: lobstertwottf;
font-style: italic;
}#lobstertwottfbi{
font-family: lobstertwottf;
font-weight: bold;
font-style: italic;
}#maidenoragettf{
font-family: maidenoragettf;
}#maidenoragettfb{
font-family: maidenoragettf;
font-weight: bold;
}#maidenoragettfi{
font-family: maidenoragettf;
font-style: italic;
}#maidenoragettfbi{
font-family: maidenoragettf;
font-weight: bold;
font-style: italic;
}#nunitottf{
font-family: nunitottf;
}#nunitottfb{
font-family: nunitottf;
font-weight: bold;
}#nunitottfi{
font-family: nunitottf;
font-style: italic;
}#nunitottfbi{
font-family: nunitottf;
font-weight: bold;
font-style: italic;
}#robotottf{
font-family: robotottf;
}#robotottfb{
font-family: robotottf;
font-weight: bold;
}#robotottfi{
font-family: robotottf;
font-style: italic;
}#robotottfbi{
font-family: robotottf;
font-weight: bold;
font-style: italic;
}#robotocondensedttf{
font-family: robotocondensedttf;
}#robotocondensedttfb{
font-family: robotocondensedttf;
font-weight: bold;
}#robotocondensedttfi{
font-family: robotocondensedttf;
font-style: italic;
}#robotocondensedttfbi{
font-family: robotocondensedttf;
font-weight: bold;
font-style: italic;
}
