/* ============================================================================
	Clearfix hax
   ============================================================================ */
	.group:before,
	.group:after {
		content: "";
		display: table;
	}

	.group:after {
		cear: both;
	}

/* ============================================================================
	Box Sizing
   ============================================================================ */
	* {
		box-sizing: -webkit-border-box;
		box-sizing: -moz-border-box;
		box-sizing: border-box;
	}

/* ============================================================================
	Carousel options
   ============================================================================ */
	.carousel-control.left, .carousel-control.right {
		background-image: none
	}
	.carousel-control {
		color: black;
	}
	.carousel-control:focus {
		color: black;
	}

/* ============================================================================
	Header
   ============================================================================ */
	.logo-top{
		height: 75px;
	}

	.navbar-button{
		margin-top: 20px;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background-color: white;
	}

	.top-navigation{
		padding: 10px 0;
		background-color: rgb(135,135,135);
		border-bottom: 1px solid black;
	}

	.navbar-top-text {
		font-size: 20px;
		padding-top: 9px;
	}

	.navbar-top-text > li > a{
		color: white !important;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: white;
		text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	}

	.dropdown-menu > li > a{
		color: black !important;
		text-shadow: none !important;
	}

	/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		.header-navbar{
			width: 80%;
			margin: auto;
		}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		.header-navbar{
			width: 70%;
			margin: auto;
		}
    }

/* ============================================================================
	Wrapper
   ============================================================================ */



/* ============================================================================
	Footer
   ============================================================================ */

	.bottom-text{
		color: white !important;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	}

	.footer-container {
		width: 80%;
		margin: auto;
	}

	.navbar-bottom{
		margin-bottom: 0;
		padding: 10px 0;
		background-color: rgb(135,135,135);
		border-top: 1px solid black;
	}

	.bottom-bar-collapsed{
		padding: 0;
		padding-top: 10px;
		border: none;
	}


	.bottom-logo-mobile{
		height: 45px;
	}

	.bottom-button-collapsed{
		margin: 20px;
	}

	.push-logo-left{
		padding-left: 0;
	}
	/* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {
        .footer-container {
			width: 100%;
			margin: auto;
		}
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
		.footer-container {
			width: 100%;
			margin: auto;
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		.footer-container {
			width: 100%;
			margin: auto;
		}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		.footer-container {
			width: 65%;
			margin: auto;
		}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		.footer-container {
			width: 65%;
			margin: auto;
		}
    }



/* ============================================================================
	Main Page Product Box
   ============================================================================ */
		.product-box-heading{
			color: black;

		}

		.product-box-paragraph{
			height: 75px;
			padding-top: 5px;
			color: black;

		}

   /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) and (max-width: 480px) {
		.product-box{
			height: 120px;
			border: 1px solid gray;
			background-image: url('../img/button2_gray.png');
			padding: 0;
		}
		.product-box:hover{
			background-image: url('../img/button2_flip.png');
		}
		.container {
			width: 100%;
			padding: 0;
		}
		.product-box-heading{
			height: 45px;

		}
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) and (max-width: 768px) {
		.product-box{
			height: 200px;
			border: 1px solid gray;
			background-image: url('../img/button2_gray.png');
			padding: 0;
		}
		.product-box:hover{
			background-image: url('../img/button2_flip.png');
		}
		 .container {
			width: 100%;
			padding: 0;
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		.product-box{
			height: 250px;
			border: 1px solid gray;
			background-image: url('../img/button2_gray.png');
		}
		.product-box:hover{
			background-image: url('../img/button2_flip.png');
		}

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		.product-box{
			height: 250px;
			border: 1px solid gray;
			background-image: url('../img/button2_gray.png');
		}
		.product-box:hover{
			background-image: url('../img/button2_flip.png');
		}

		.product-box-heading{
			height: 45px;

		}

		.product-box-paragraph{
			height: 75px;

		}
		.product-box-image{
			height: 150px;

		}

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		.product-box{
			border: 1px solid gray;
			background-image: url('../img/button2_gray.png');
		}
		.product-box:hover{
			background-image: url('../img/button2_flip.png');
		}

		.product-box-heading{
			padding-top: 7px;
			height: 45px;

		}

		.product-box-paragraph{
			height: 75px;

		}
		.product-box-image{
			height: 150px;

		}

    }

 /* ============================================================================
	Responsive video
   ============================================================================ */

  .flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

.nordic {
	font-family: 'Open Sans', sans-serif;
}

 /* ============================================================================
	Help pages
   ============================================================================ */

	.help-btn{
		width: 100%;
		margin-top: 5px;
	}

	.contact {
		height: 40px;
		border: 1px solid black;
		border-radius: 5px;
		margin-bottom: 5px;
	}

	.contact-text {
		padding-top: 8px;
	}

	.contact-link {
		color: #C32329;
	}

/* ============================================================================
	Admin pages
   ============================================================================ */

	.admin-form-box {
		border: 1px solid #ccc;
		border-radius: 5px;
	}

/* ============================================================================
	Checkout page
   ============================================================================ */

	.checkout-form-box {
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	#billinglabel{
		align: center;
	}

/* ============================================================================
	Template page
   ============================================================================ */

   .temp-img {
	max-height: 150px;
	margin: auto;
   }

   .tmp-heading{
	margin: auto;
   }

   .tmp-p{
	margin: auto;
   }

   .template-top-p{
	padding-top: 20px;
   }

   .template-top-newdesign{
	text-align: center;
   }

	.template-box-heading{
		color: black;

	}

	.template-box-paragraph{
		padding-top: 5px;
		color: black;

	}

   /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) and (max-width: 480px) {
		.template-box{
			height: 120px;
			border: 1px solid gray;
			background-image: url('../img/button2_gray.png');
			padding: 0;
		}
		.template-box:hover{
			background-image: url('../img/button2_flip.png');
		}
		.container {
			width: 100%;
			padding: 0;
		}
		.template-box-heading{
			height: 40px;

		}
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) and (max-width: 768px) {
		.template-box{
			height: 200px;
			border: 1px solid gray;
			background-image: url('../img/button2_gray.png');
			padding: 0;
		}
		.template-box:hover{
			background-image: url('../img/button2_flip.png');
		}
		 .container {
			width: 100%;
			padding: 0;
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		.template-box{
			height: 250px;
			border: 1px solid gray;
			background-image: url('../img/button2_gray.png');
		}
		.template-box:hover{
			background-image: url('../img/button2_flip.png');
		}

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		.template-box{

			border: 1px solid gray;
			background-image: url('../img/button2_gray.png');
		}
		.template-box:hover{
			background-image: url('../img/button2_flip.png');
		}

		.template-box-heading{
			height: 50;

		}


    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		.template-box{

			border: 1px solid gray;
			background-image: url('../img/button2_gray.png');
		}
		.template-box:hover{
			background-image: url('../img/button2_flip.png');
		}

		.template-box-heading{
			padding-top: 7px;
			height: 45px;

		}


    }

/* ============================================================================
	Design page
   ============================================================================ */
	.grid-breathingroom{
		padding-top: 25px;
	}

	.design-tools{
		min-height: 583px;
		border: 1px solid gray;
		padding: 0;
	}

	.tab-padding{
		padding-left: 15px;
		padding-right: 15px;
	}

	.nav-margin{
		margin-bottom: 10px;
	}

	.nav-tabs.nav-justified > li > a {
		border-radius: 0px;
	}

	.backgroundImg {
	  width: 15%;
	}

	.fontReset{
		height: 28px;
	}

	#backgroundShow {
	  display: block;
	  border: 2px solid black;
	  height: 100px;
	  margin-bottom: 5px;
	  overflow:scroll;
	  overflow-x:hidden;
	}

	.clipartImg {
	  width: 10%;
	}

	.textIconBox{
		padding: 5px;
		border: 1px solid gray;
		font-size: 20px;
		border-radius: 5px;
	}

	.emptyBox{
		padding: 5px;
		font-size: 20px;
		border-radius: 5px;
	}

	#fontFamily{
	  position: absolute;
	  left: -9999px;
	}

	#fontSizeTextbox{
		width: 72px;
		border-radius: 5px;
	}

	#lineHeightTextbox{
		width: 72px;
		border-radius: 5px;
	}

	#textAngleTextbox{
		width: 72px;
		border-radius: 5px;
	}

	#strokeWidthTextbox{
		width: 72px;
		border-radius: 5px;
	}

	#clipartScaleTextbox{
		width: 72px;
		border-radius: 5px;
	}

	#clipartAngleTextbox{
		width: 72px;
		border-radius: 5px;
	}

	.textIconBoxControll{
		width: 72px;
		padding: 5px;
		border: 1px solid gray;
		font-size: 20px;
		border-radius: 5px;
	}

	#flipped-icon {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	}

	#fontList {
	/*  top: -20px;
		left: 277px;
		position: relative; */
		position: absolute;
		padding: 0;
		width: 52%;
		list-style-type: none;
		font-size: 1em;
		z-index: 99;
	}

	#fontList:hover {
		height: 300px;
		overflow-y: scroll;
	}

	#fontList li {
		display: none;
		padding: 0.2em;
		border: 1px solid #ccc;
	}

	#fontList:hover li.selected{
	  background-color: #f90;
	}

	#fontList li.selected,
	#fontList:hover li {
		display: list-item;
		background-color: #fff;
		z-index: 99;
	}

	#fontList li:hover {
		background-color: #BDBDBD;
		z-index: 100;
	}

	#clipartShow {
	  display: block;
	  border: 2px solid black;
	  height: 100px;
	  margin-bottom: 5px;
	  overflow:scroll;
	  overflow-x:hidden;
	}

	#stickerText {
	  border:3px solid black;
	  width: 100%;
	  height: 60px;
	  margin-bottom: 2px;
	  text-align: center;
	}

	#textBoldImg{
	  width: 25px;
	  height: 25px;
	  background-size: 25px 25px;
	  background-image: url('../img/bold.png');
	}
	#textItalicImg{
	  width: 25px;
	  height: 25px;
	  background-size: 25px 25px;
	  background-image: url('../img/italic.png');
	}
	#textUnderlineImg{
	  width: 25px;
	  height: 25px;
	  background-size: 25px 25px;
	  background-image: url('../img/underline.png');
	}
	#textLeftImg{
	  width: 25px;
	  height: 25px;
	  background-size: 25px 25px;
	  background-image: url('../img/textLeft.png');
	}
	#textCenterImg{
	  width: 25px;
	  height: 25px;
	  background-size: 25px 25px;
	  background-image: url('../img/textCenter.png');
	}
	#textRightImg{
	  width: 25px;
	  height: 25px;
	  background-size: 25px 25px;
	  background-image: url('../img/textRight.png');
	}



/* ============================================================================
	test page
   ============================================================================ */

	.testcol {
		float: none;
		display: table-cell;
		vertical-align: top;
	}

	.tmp-top-heading{
		text-align: center;
	}

	.center-text{
		text-align: center;
	}

/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
	margin-bottom: 20px;
}
.nav-tabs > li > a {
	color: black;
	min-height: 62px;
    background: #BDBDBD;
    border-radius: 0px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;

}

.nav-justified > li {
	display: table-cell;
	border-radius: 0px;
}

.posBox {
	padding: 0px !important;
}

#billinginformation {
    display: none;
}

.canvastest {
	text-align: center;
	border: 1px;
	border-color: black;
}

.force-to-bottom {
	position:absolute;
	 bottom: 5%;
	 width: 100%;
}
