/* Simple textline CSS */
#text1, #text2, #text3 {
    width:  80%;
    font-weight: normal;
}

#canvasDiv {
    z-index: 9999;
    overflow: hidden;
    width: 350px;
    max-width: 350px;
    height: 175px;
    background-color: #FFFFFF;
}

#canvasCon {
  z-index: 8999;
  height: 175px;
  background-color: white;
}

@media only screen and (max-width : 768px) {
  #canvasCon.sticky {
    display: block;
    position: fixed;
    top: 0;
    height: 176px;
    border-bottom: 1px solid black;
  }
  #canvasDiv.sticky {
      display: block;
      position: fixed;
      max-width: 350px;
      height: 175px;
    }
    #textBox.sticky {
      padding-top: 180px !important;
    }
}

#canvasDiv {

}

#textBox {
  padding-top: 0px !important;
}

.clipartContainer {
    height: 350px;
    background-color: #EEE;
    overflow: hidden;
    z-index: 1;
}

a.simpleClipartList {
	display: block;
	color: #FFF;
	text-decoration: none;
}

a.simpleClipartList:hover {
	color: #CCC;
}

a.simpleClipartFooterPage {
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}

a.simpleClipartFooterPage:hover {
	color: #CCC;
}


ul.simpleClipartList {
	list-style-type: disc;
	display: table;
    background-color: rgb(40, 170, 225);
	width:100%;
	margin-bottom: 0px;
}

li.simpleClipartList {
	display: table-cell;
	text-align: center;
	cursor: pointer;
	color: #FFF;
	padding: 10px 0px;
	border-right: 1px solid #FFF;
}

li.simpleClipartList:last-child {
    border-right: none;
}

.simpleClipartFooter {
	padding: 10px;
    text-align: center;
	background-color: rgb(40, 170, 225);
}

.simpleClipartFooterPage {
	padding: 10px;
	color: #CCC;
}

.back {
	position: absolute;
	cursor: pointer;
}

.forward {
	position: absolute;
	cursor: pointer;
}
