
#topMeasureBoxParent
{
	position: relative;
	width: 500px;
	height: 0;
	left: 50%;
	top: -100%;
}

#rightMeasureBoxParent
{
	position: relative;
	width: 0px;
	height: 200px;
	left: 95%;
	top: -50%;
}

#topMeasureBox
{
	position: absolute;
	left:-50%;
	
	//overflow:hidden;
	width:500px;
}

#rightMeasureBox
{
	position: absolute;
	top:-50%;
	
	//overflow:hidden;
	height:500px;
}

.centerHori
{
	position:relative;
	left:45%;
	padding:0px;
	width: 50px;
}

.centerVert
{
	padding:0px;
	//margin:-10px;
}

.centerVertLeft
{
	position:absolute;
	left:0px;
	top:45px;
	width: 200px;
}

.centerVertRight
{

}

#topMeasure
{
  display: inline-block;
	position:relative;
	width: 60px;
	margin: auto;
	text-align:center;
}

#sideMeasure
{
	position:relative;
	left:-12px;
}

.floatTop
{
	vertical-align: text-top;
}

.floatBottom
{
	position: absolute;
	bottom: 10px;
}

.topEndBar
{
	height:27px;
	width: 5px;
}

.rightEndBar
{
	width: 100%;
	height: 5px;
}

#topMeasureBox .centerVert .longbar
{
	width: 215px;
}

#rightMeasureBox .centerHori .longbar
{
	height: 75px;
}

.rightEndBarTop
{
	margin-top:-10px;
}

.rightEndBarBottom
{
	margin-bottom:-10px;
}

#rightMeasureBoxSpan
{
	position: absolute;
	top:-8px;
}