#tabs
{
  float:left;
  border:1px solid #828282;
  width:600px;
  height:600px;
  margin: 0px 0px 0px 0px !important;
}

#canvasDiv
{
  float:left;
  border:1px solid #828282;
  height:600px;
  width: 600px;
}

.tabStyle
{
  height:120px;
  width:120px;
  font-size:8pt;
}

/*li img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

#tabs li 
{
  list-style-type: none;
}

#fontSizeSlider
{
  position: absolute;
  left: 100px;
  margin-top: 4px;
  width: 300px;
}
#lineHeightSlider
{
  position: absolute;
  left: 100px;
  margin-top: 4px;
  width: 300px;
}
#textAngleSlider
{
  position: absolute;
  left: 100px;
  margin-top: 4px;
  width: 300px;
}
#strokeWidth
{
  position: absolute;
  left: 100px;
  margin-top: 4px;
  width: 300px;
}
#clipartScaleSlider
{
  position: absolute;
  left: 100px;
  margin-top: 4px;
  width: 300px;
}

#clipartAngleSlider
{
  position: absolute;
  left: 100px;
  margin-top: 4px;
  width: 300px;
}

#bgcolor 
{

  background-color:#FF0;
  border-width:5px;
  width:100px;
  height:80px;
}

#bgcolor span
{
  float:left;
  margin:3px;
  border:1px solid black;
}

#customBackgroundColor
{
  display: inline-block;
  width: 22px;
  height: 22px;
}

#customBackgroundColor:hover
{
  width: 21px;
  height: 21px;
  border:1px solid black;
}

#deleteTextButton
{
  width: 80px;
  float: left;
  top: 27px;
  left: 422px;
  position: absolute;
  margin-bottom: 4px;
}

#deleteClipartButton
{
  position: absolute;
  float: left;
  left: 490px;
}

#addTextButton
{
  position: absolute;
  left: 422px;
  width: 80px;
  margin-bottom: 4px;
}

#customTextColor
{
  display: inline-block;
  width: 20px;
  height: 20px;
}

#customStrokeColor
{
  display: inline-block;
  width: 20px;
  height: 20px;
}

#stickerText
{
  border:3px solid black;
  width:400px;
  height: 60px;
  margin-bottom: 2px;
  text-align: center;
}

#height
{
  margin-top: 2px;
}

.color
{
  /*hides text*/
  text-indent: -9999px; 
  width: 20px;
  height: 20px;


}

#textAlign
{
  float: left;
  margin-top: 3px;
}

/*text align images*/
.textAlignImg
{
  float: left;
  margin: 3px;
  
  
}
#textBoldImg
{
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-image: url('../img/bold.png');
}
#textItalicImg
{
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-image: url('../img/italic.png');
}
#textUnderlineImg
{
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-image: url('../img/underline.png');
}
#textLeftImg
{
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-image: url('../img/textLeft.png');
}
#textCenterImg
{
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-image: url('../img/textCenter.png');
}
#textRightImg
{
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-image: url('../img/textRight.png');
}

#sizeAndShapeControl
{
  height: 450px;
  width: 550px;
}

#backgroundColorControl
{
  height: 450px;
  width: 550px;
}

#textControl
{
  height: 450px;
  width: 550px;
}

#clipartControl
{
  height: 450px;
  width: 550px;
}

#cartControl
{
  height: 450px;
  width: 550px;
}

#tempCartControl
{
  height: 450px;
  width: 550px;
}

.clipartImg
{
  padding-top: 2px;
  padding-left: 5px;
  /* height: 65px;
  width:  65px; */

}

#uploadControlsOpen
{

}

#uploadControls
{
  /*border: 2px solid black;*/
}

#clipartShow
{
  display: block;
  border: 2px solid black;
  height: 100px;
  margin-bottom: 5px;
  overflow:scroll;
  overflow-x:hidden;
}

#backgroundShow
{
  display: block;
  border: 2px solid black;
  height: 100px;
  margin-bottom: 5px;
  overflow:scroll;
  overflow-x:hidden;
}

.clipartImg
{
  width: 10%;
}

.backgroundImg
{
  width: 15%;
}


#flipX
{
  margin-left: 46px;
}

#flipY
{
  
}

#centerH
{

  margin-top: 3px;
}

#centerV
{
  margin-top: 3px;

}

button[disabled=disabled], button:disabled {
  color: #aaaaaa;
}

#startCropB[value='cropDisabled'] {
  
}

#startCropB[value='cropEnabled'] {
  background-color: #00dd00;
}

#fontSizeTextbox
{
  position: absolute;
  left: 410px;
  width: 50px;
}
#strokeWidthTextbox
{
  position: absolute;
  left: 410px;
  width: 50px;
}

#lineHeightTextbox
{
  margin-top: 5px;
  position: absolute;
  left: 410px;
  width: 33px;
}

#textAngleTextbox
{
  margin-top: 10px;
  position: absolute;
  left: 410px;
  width: 50px;
}

#clipartAngleTextbox
{
  margin-top: 10px;
  position: absolute;
  left: 410px;
  width: 50px;
}

#clipartScaleTextbox
{
  margin-top: 10px;
  position: absolute;
  left: 410px;
  width: 50px;
  top: 200px;  
}

#fontFamilyLable
{
  left: -99999px;
}

#fontFamily
{
  position: absolute;
  left: -9999px;
}

span[class="simplecolorpicker icon"] 
{ 
  border: 2px;
  border-color: black;
}

#fontList {
/*     top: -20px;
    left: 277px; 
    position: relative; */
	
	
    top: 74px;
    left: 277px; 
    position: absolute;
	
    width: 23%;
    font-size: 1em;
    z-index: 99;
}

#fontList:hover {
    height: 300px;
    overflow-y: scroll;
}

#fontList li {
    display: none;
    padding: 0.2em;
    border: 1px solid #ccc;
}

#fontList:hover li.selected{
  background-color: #f90;
}

#fontList li.selected,
#fontList:hover li {
    display: list-item;
    background-color: #fff;
    z-index: 99;
}

#fontList li:hover {
    background-color: #BDBDBD;
    z-index: 100;
}

#boogaloottf{
 font-family: boogaloottf;
}#boogaloottfb{
 font-family: boogaloottf;
 font-weight: bold;
}#crimsontextttf{
 font-family: crimsontextttf;
}#crimsontextttfb{
 font-family: crimsontextttf;
 font-weight: bold;
}#crimsontextttfi{
 font-family: crimsontextttf;
 font-style: italic;
}#crimsontextttfbi{
 font-family: crimsontextttf;
 font-weight: bold;
 font-style: italic;
}#englandttf{
font-family: englandttf;
}#englandttfb{
font-family: englandttf;
font-weight: bold;
}#felipattf{
font-family: felipattf;
}#felipattfb{
font-family: felipattf;
font-weight: bold;
}#galsilttf{
font-family: galsilttf;
}#galsilttfb{
font-family: galsilttf;
font-weight: bold;
}#goblinonettf{
font-family: goblinonettf;
}#goblinonettfb{
font-family: goblinonettf;
font-weight: bold;
}#gravitasonettf{
font-family: gravitasonettf;
}#gravitasonettfb{
font-family: gravitasonettf;
font-weight: bold;
}#greatvibesttf{
font-family: greatvibesttf;
}#greatvibesttfb{
font-family: greatvibesttf;
font-weight: bold;
}#hammersmithonettf{
font-family: hammersmithonettf;
}#hammersmithonettfb{
font-family: hammersmithonettf;
font-weight: bold;
}#hennepennyttf{
font-family: hennepennyttf;
}#hennepennyttfb{
font-family: hennepennyttf;
font-weight: bold;
}#kaushanscriptttf{
font-family: kaushanscriptttf;
}#kaushanscriptttfb{
font-family: kaushanscriptttf;
font-weight: bold;
}#leaguegothicttf{
font-family: leaguegothicttf;
}#leaguegothicttfi{
font-family: leaguegothicttf;
font-style: italic;
}#limelightttf{
font-family: limelightttf;
}#limelightttfb{
font-family: limelightttf;
font-weight: bold;
}#lobstertwottf{
font-family: lobstertwottf;
}#lobstertwottfb{
font-family: lobstertwottf;
font-weight: bold;
}#lobstertwottfi{
font-family: lobstertwottf;
font-style: italic;
}#lobstertwottfbi{
font-family: lobstertwottf;
font-weight: bold;
font-style: italic;
}#maidenoragettf{
font-family: maidenoragettf;
}#maidenoragettfb{
font-family: maidenoragettf;
font-weight: bold;
}#nunitottf{
font-family: nunitottf;
}#nunitottfb{
font-family: nunitottf;
font-weight: bold;
}#robotottf{
font-family: robotottf;
}#robotottfb{
font-family: robotottf;
font-weight: bold;
}#robotottfi{
font-family: robotottf;
font-style: italic;
}#robotottfbi{
font-family: robotottf;
font-weight: bold;
font-style: italic;
}#robotocondensedttf{
font-family: robotocondensedttf;
}#robotocondensedttfb{
font-family: robotocondensedttf;
font-weight: bold;
}#robotocondensedttfi{
font-family: robotocondensedttf;
font-style: italic;
}#robotocondensedttfbi{
font-family: robotocondensedttf;
font-weight: bold;
font-style: italic;
}




#boogaloottfload{
 font-family: boogaloottf;
}#boogaloottfloadb{
 font-family: boogaloottf;
 font-weight: bold;
}#crimsontextttfload{
 font-family: crimsontextttf;
}#crimsontextttfloadb{
 font-family: crimsontextttf;
 font-weight: bold;
}#crimsontextttfloadi{
 font-family: crimsontextttf;
 font-style: italic;
}#crimsontextttfloadbi{
 font-family: crimsontextttf;
 font-weight: bold;
 font-style: italic;
}#englandttfload{
font-family: englandttf;
}#englandttfloadb{
font-family: englandttf;
font-weight: bold;
}#felipattfload{
font-family: felipattf;
}#felipattfloadb{
font-family: felipattf;
font-weight: bold;
}#galsilttfload{
font-family: galsilttf;
}#galsilttfloadb{
font-family: galsilttf;
font-weight: bold;
}#goblinonettfload{
font-family: goblinonettf;
}#goblinonettfloadb{
font-family: goblinonettf;
font-weight: bold;
}#gravitasonettfload{
font-family: gravitasonettf;
}#gravitasonettfloadb{
font-family: gravitasonettf;
font-weight: bold;
}#greatvibesttfload{
font-family: greatvibesttf;
}#greatvibesttfloadb{
font-family: greatvibesttf;
font-weight: bold;
}#hammersmithonettfload{
font-family: hammersmithonettf;
}#hammersmithonettfloadb{
font-family: hammersmithonettf;
font-weight: bold;
}#hennepennyttfload{
font-family: hennepennyttf;
}#hennepennyttfloadb{
font-family: hennepennyttf;
font-weight: bold;
}#kaushanscriptttfload{
font-family: kaushanscriptttf;
}#kaushanscriptttfloadb{
font-family: kaushanscriptttf;
font-weight: bold;
}#leaguegothicttfload{
font-family: leaguegothicttf;
}#leaguegothicttfloadi{
font-family: leaguegothicttf;
font-style: italic;
}#limelightttfload{
font-family: limelightttf;
}#limelightttfloadb{
font-family: limelightttf;
font-weight: bold;
}#lobstertwottfload{
font-family: lobstertwottf;
}#lobstertwottfloadb{
font-family: lobstertwottf;
font-weight: bold;
}#lobstertwottfloadi{
font-family: lobstertwottf;
font-style: italic;
}#lobstertwottfloadbi{
font-family: lobstertwottf;
font-weight: bold;
font-style: italic;
}#maidenoragettfload{
font-family: maidenoragettf;
}#maidenoragettfloadb{
font-family: maidenoragettf;
font-weight: bold;
}#nunitottfload{
font-family: nunitottf;
}#nunitottfloadb{
font-family: nunitottf;
font-weight: bold;
}#robotottfload{
font-family: robotottf;
}#robotottfloadb{
font-family: robotottf;
font-weight: bold;
}#robotottfloadi{
font-family: robotottf;
font-style: italic;
}#robotottfloadbi{
font-family: robotottf;
font-weight: bold;
font-style: italic;
}#robotocondensedttfload{
font-family: robotocondensedttf;
}#robotocondensedttfloadb{
font-family: robotocondensedttf;
font-weight: bold;
}#robotocondensedttfloadi{
font-family: robotocondensedttf;
font-style: italic;
}#robotocondensedttfloadbi{
font-family: robotocondensedttf;
font-weight: bold;
font-style: italic;
}

#fontLoad{
  position: absolute;
  left: -9999px;
}

#color 
{
    top: 76px;
    left: 413px;
    position: absolute;
} 

/*
*
* CSS styling for the main layouts page
*
*/
#markmasterHeader
{
 background-image: url('../img/headerBarSlice.png'); /* blue color code: #2D36D4 */
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 border-bottom: 1px solid black;
}

#markmasterFooter
{
  background-image: url('../img/footerBarSlice.png');
  border-top: 1px solid black;
  text-shadow: black 0.1em 0.1em 0.2em;

}

#productBox
{
  background-image: url('../img/button2_gray.png');
  background-size: 298px 250px;
  float: left;
  width: 298px;
  min-width: 298px;
  height: 250px;
  border: solid #828282 1px;
  border-radius: 30px;
  margin-left: 90px;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

#productBox:hover
{
  background-image: url('../img/button2_flip.png');
  background-size: 298px 250px;
  float: left;
  width: 298px;
  min-width: 298px;
  height: 250px;
  border: solid #828282 1px;
  border-radius: 30px;
}

#productBox2
{
  background-image: url('../img/button2_gray.png');
  background-size: 298px 250px;
  float: left;
  width: 298px;
  min-width: 298px;
  height: 250px;
  border: solid #828282 1px;
  border-radius: 30px;
  margin-left: 5px;
  margin-top: 5px;
  <margin-bottom: 5px;
  
}

#productBox2:hover
{
  background-image: url('../img/button2_flip.png');
  background-size: 298px 250px;
  float: left;
  width: 298px;
  min-width: 298px;
  height: 250px;
  border: solid #828282 1px;
  border-radius: 30px;
}

#headerBox
{
  height: 50px;
  float: left;
  padding-left:20px;
  padding-top: 20px;
}

#bottomBox
{
  float: left;
  padding-left: 20px;
  height: 180px;
  width: 298px;
}

.boxHeader
{
  padding-left: 5px;
  font-size: 1.5em;
  color: black;
  line-height:90%;
  word-wrap: break-word;

}

#boxParagraph
{
  float: left;
  padding-top: 10px;
  padding-left: 5px;
  width: 125px;
  font-size: 1em;
  color: black;
  margin-right: 0px;
  margin-bottom: 0px !important;
}

#imgBox
{
  float: left;
  height: 98px;
  width: 110px;
}

#buttonDiv
{
  float: left;
  height: 50px;
  margin-top: 13px;

}

.buttonBox
{
    float: left;
    background-color: #C32329;
    color: #fff;
    padding: 10px;
	border: 2px solid white;
    border-radius: 20px;
	border-color: #FFFFFF;
	-webkit-transition: all 0.125s ease;
	-moz-transition: all 0.125s ease;
	-ms-transition: all 0.125s ease;
	-o-transition: all 0.125s ease;
	transition: all 0.125s ease;
	font-weight: bold;
}

.buttonBox:hover
{
    background-color: #FFFFFF;
    color: #C32329;
	border-color: #C32329;
	border: 2px solid;
	
}
.buttonBox:link
{
	text-decoration: none;
}

.buttonBox:visited
{
	text-decoration: none;
}

.buttonBoxCenter
{
	background-color: #C32329;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
	border-color: #FFFFFF;
	-webkit-transition: all 0.125s ease;
	-moz-transition: all 0.125s ease;
	-ms-transition: all 0.125s ease;
	-o-transition: all 0.125s ease;
	transition: all 0.125s ease;
	font-weight: bold;
}

.buttonBoxCenter:hover {
	background-color: #FFFFFF;
    color: #C32329;
	border-color: #C32329;
	border: 2px solid;
}
.buttonBoxCenter:link
{
	text-decoration: none;
}

.buttonBoxCenter:visited
{
	text-decoration: none;
}

#checkoutmain{
	margin-left: auto;
	margin-right: auto;
	width: 1150px;
}

#terms{
	width: 1000px;
	margin-left: 30px;
}

.payBox
{
    float: none;
    background-color: #C32329;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid;
	border-color: #FFFFFF;
	-webkit-transition: all 0.125s ease;
	-moz-transition: all 0.125s ease;
	-ms-transition: all 0.125s ease;
	-o-transition: all 0.125s ease;
	transition: all 0.125s ease;
	font-weight: bold;
}

.payBox:hover
{
    float: none;
    background-color: #FFFFFF;
    color: #C32329;
    padding: 10px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 2px solid;
	border-color: #C32329;
	font-weight: bold;
}
.payBox:link
{
	text-decoration: none;
}

.payBox:visited
{
	text-decoration: none;
}

#markmasterHeader .verticalLine {
    float: left;
    height: 60px;
    border-left: solid #ffffff 1px;
    padding-right: 20px;
}

#markmasterFooter .verticalLine {
    float: left;
    height: 200px;
    border-left: solid #ffffff 1px;
    margin-top: 20px;
    margin-right: 35px;
}

#tempCartControl {
  overflow-y: scroll;
}

#templateBox
{
  background-image: url('../img/button2_gray.png');
  background-size: 298px 300px;
  float: left;
  width: 298px;
  min-width: 298px;
  height: 300px;
  border: solid #828282 1px;
  text-align: center;
  margin-left: 7.5px;
  margin-bottom: 7.5px;
  border-radius: 20px;
}

#templateBox h2
{
  margin-bottom: 0px;
  text-align: left;
}

#templateBox p
{
  text-align: left;
  color: #000000;
  text-decoration: none;
  margin-left: 4px;
  margin-right: 4px;
}

#templateBox:hover
{
  background-image: url('../img/button2_flip.png');
  background-size: 298px 300px;
  float: left;
  width: 298px;
  min-width: 298px;
  height: 300px;
  border: solid #828282 1px;
  
}
#clipartList
{
  float: left;
}
#shippinglabel
{
	float: left;
	margin-left: 110px;
	padding-top: 20px;
}
#billinglabel
{
	float: left;
	margin-left: 410px;
	padding-top: 20px;
}
#checkboxBilling{
	float: left;
	margin-left: 670px;
}

#shippinginformation, #billinginformation {
	margin-left: 90px;
	float: left;
    width: 400px;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #2e373f;
}

#billinginformation{
	margin-left: 120px;
}

#shippinginformation h1,
#billinginformation h1,
#personal-details h1 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}

#shippinginformation label,
#billinginformation label,
#personal-details label {
    display: block;
    margin-bottom: 5px;
}

#shippinginformation p,
#billinginformation p,
#personal-details p {
    font-size: 12px;
}

#shippinginformation p input,
#billinginformation p input,
#personal-details p input {
    width: 300px;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#shippinginformation .required-field,
#billinginformation .required-field,
#personal-details .required-field {
    color: #5daad0;
}


#checkoutheader
{
	position: relative;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
}

.thumbnailpic
{
	max-width: 150px;
	max-height: 65px;
}

#ordersList
{
	float: left;
}

#tableStyle
{
	text-align: center;
}

#klistrebilde {
	float: left;
}

#headertext{
	float: left;
	width: 600px;
	height: 402px;
	padding-top: 16px;
	font-size: 20px;
	padding-left: 20px;
}

#headertext2{
	float: left;
	width: 600px;
	height: 473px;
	padding-top: 16px;
	font-size: 20px;
	padding-left: 20px;
}

#footertext{
	text-align: center;
	font-size: 20px;
}

.tempHeader
{
	text-align: center; 
	font-size: 45px;
}

#userlinks{
	padding-left: 425px;
}

#templateImgDiv {
	width: 260px;
	margin-left: auto;
	margin-right: auto;
}

.templateImg {
	width: 150px;

}

.tabImg{
	margin-left: 10px;
}

#emailBox{
	width: auto !important;
}

#xfade > img { 
    position: absolute;
    color: transparent;
    opacity: 0;
    z-index: 0;
    
}

#xfade > img:nth-child(1)  { 
    animation: xfade 30s 20s infinite;
	-moz-animation: xfade 30s 20s infinite; /* Firefox */
	-webkit-animation: xfade 30s 20s infinite; /* Safari and Chrome */
	-o-animation: xfade 30s 20s infinite;
}

#xfade > img:nth-child(2)  { 
    animation:xfade 30s 10s infinite;
	-moz-animation: xfade 30s 10s infinite; /* Firefox */
	-webkit-animation: xfade 30s 10s infinite; /* Safari and Chrome */
	-o-animation: xfade 30s 10s infinite;
}
#xfade > img:nth-child(3) { 
    animation:xfade 30s 0s infinite;
	-moz-animation: xfade 30s 0s infinite; /* Firefox */
	-webkit-animation: xfade 30s 0s infinite; /* Safari and Chrome */
	-o-animation: xfade 30s 0s infinite;
}

@-webkit-keyframes xfade{
	0%{
		opacity: 1;
	}
	25.33% {
		opacity:1;
	}
	33.33%{
		opacity: 0;
	}
	88% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-moz-keyframes xfade{
	0%{
		opacity: 1;
	}
	25.33% {
		opacity:1;
	}
	33.33%{
		opacity: 0;
	}
	88% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-o-keyframes xfade{
	0%{
		opacity: 1;
	}
	25.33% {
		opacity:1;
	}
	33.33%{
		opacity: 0;
	}
	88% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@keyframes xfade{
	0%{
		opacity: 1;
	}
	25.33% {
		opacity:1;
	}
	33.33%{
		opacity: 0;
	}
	88% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}


#agent h2 {
	margin-bottom: 0px;
}

#agentWrapper {
	width: 1650px;
	height: 100px;

}
#agentInfo {
	margin-top: 10px;
	float: left;
	padding-right: 30px;
	height: 55px;
	width: 190px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);

}
#agent {
	float: left;
	padding-right: 30px;
	height: 55px;
	width: 190px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);

}

#agent h2{
	margin-bottom: 0px;

}

#agentHR hr{
	margin-bottom: 0px;

}
