

.navbar-inner
{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Open Sans;
    font-size: 1.1em;
    background-color: #FFF;
    margin-bottom: 0px;

    border-bottom: 2px solid #ccc;
}

.navbar-logo
{
    width: 35%;
}

.navbar-logo img
{
    max-height: 50px;
}

.navbar-brand
{
    padding: 0px;
}

.selection-box img
{
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.imageitem img
{
    width: 100%;
}

.itembox-center {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;

}

.itembox-left
{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 7.5px;

}
.itembox-right
{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 15px;

}

.main-row
{
    background-color: #e7e7e7;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Open Sans;
}

.main-row a
{
    font-family: Open Sans;
    color: #252525;
}

.row-information {
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  border: 4px rgb(40, 170, 225) solid;
  font-family: Open Sans;
  color: Black;
}

.box-padding {
  padding: 7.5px;
}

.content-wrapper {
  margin: 7.5px;
}

.promo-wrapper {
  margin: 15px;
}

.row-heading {
  margin: 7.5px;
  background-color: rgb(40, 170, 225);
  font-family: Open Sans;
  color: white;
}

.row-heading h3{
  margin: 10px;
  padding: 0px;
}

.parallel {
  margin-left: 100px;
  width: 50px;
	height: 30px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	background: #e7e7e7;
}

.evenout {
  -webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
}

.wrapper {
  background-color: #FFFFFF;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.promo-bar {
  background-color: #e7e7e7;
  margin-top: 15px;
}

.blue-background {
  background-color: rgb(40, 170, 225);
}

.yellow-background {
  background-color: rgb(255, 241, 0);
}

.selection-image-wrapper
{
    position: relative;

}

.blue-triangle
{
    position: absolute;
    width: 50%;
    height: 45%;
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    background: linear-gradient(to right bottom, rgb(40, 170, 225) 50%, transparent 50%);
    opacity: 0.8;
}

.yellow-triangle
{
    position: absolute;
    width: 50%;
    height: 45%;
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    background: linear-gradient(to right bottom, rgb(255, 241, 0) 50%, transparent 50%);
    opacity: 0.8;
}


.selection-image-wrapper:hover .blue-triangle
{
  opacity: 0;
}

.selection-image-wrapper:hover .yellow-triangle
{
  opacity: 0;
}

.square
{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    opacity: 0;
}

.selection-image-wrapper:hover .square
{
  opacity: 0.8;
}

.selection-image
{
    display: block;
    width: 100%;
    height: auto;
}

.selection-container-left
{
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 7.5px;

}
.selection-container-right
{
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 15px;

}

.bottom-row
{
    background-color: #ffffff;
    font-family: Open Sans;
    padding-left: 0px;
    padding-right: 0px;
    border-top: 1px solid #ccc;
    margin-left: 0px;
    margin-right: 0px;
}

.selection-content
{
    position: absolute;
    left: 10px;
    top: 0;
    color: #ffffff;
    font-family: Open Sans;
    font-weight: normal;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.textbox {
  padding: 0px;
}

@media (max-width: 768px) {

  .promo-wrapper {
    padding-top: 15px;
  }

  .textbox {
    padding: 15px;
  }

  .itembox-center {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

  }

  .itembox-left
  {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;

  }
  .itembox-right
  {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;

  }
}

.design-tools-canvas{
  position: relative;
  float: none;
  margin: 0 auto;
  max-width: 60vw;
  background-color: #FFFFFF;
  padding: 0;
}

.canvas-row {
  background-color: #f1f1f1;
  height: 30vw;

}

.design-top-row {
  height: 85px;
  overflow: hidden;
  border-bottom: 2px solid #ccc;

}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.bar-divider {
  border-right: 2px solid #ccc;
}

.top-box {
  height: 100%;
  padding: 10px;
}

.top-box h1 {
  font-size: 20px;
}

.tools-box b {
  font-size: 30px;
}

.tools-box {
  height: 100%;
  padding: 10px;
}

.tools-box:hover {
  cursor: hand;
  cursor: pointer;

  background-color: rgb(112, 210, 251);
}

.tools-row {
  background-color: rgb(40, 170, 225);
  color: white;
  font-family: Open Sans;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #ccc;
}

@media (max-width: 1024px) {
  .design-tools-canvas{
    max-width: 100vw;
  }
  .canvas-row {
    height: 50vw;
  }

}

@media (max-width: 1180px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.graybtn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #CACACA;
  font-size: 15px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #CACACA 2px;
  text-decoration: none;
}

.graybtn:hover {
  background: #CACACA;
  color: #FFFFFF;
  text-decoration: none;
}

.mybtn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  background: rgb(40, 170, 225);
  border: solid rgb(40, 170, 225) 2px;
  color: #FFFFFF;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.mybtn:hover {

  border: solid rgb(40, 170, 225) 2px;
  color: rgb(40, 170, 225);
  background: #ffffff;
  text-decoration: none;
}

.right-border {
  border-right: 1px solid #ccc;
}

.same-height {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.style-1 input[type="number"] {
  width: 100%;
  padding: 5px;
  border: solid 1px #dcdcdc;
  border-radius: 3px;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="number"]:focus,
.style-1 input[type="number"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px rgb(40, 170, 225);
}

.design-top-row h1{
  font-size: 20px;
}

@media (max-width: 1180px) {
  .style-1 input[type="number"] {
    width: 100%;
    padding: 3px 6px;
  }

  .mybtn {
    padding: 0px 10px;
  }

  .design-top-row h1{
    font-size: 14px;
  }

}

.shapeBox {
  height: 200px !important;
  width: 300px !important;
}

.backgroundBox {
  height: 530px !important;
  width: 300px !important;
  overflow-y: auto;
}

.nbackgroundBox {
  height: 530px !important;
  width: 300px !important;
  overflow-y: auto;
}

.textBox {
  height: 530px !important;
  width: 300px !important;
  overflow-y: auto;
}

.imageBox {
  height: 530px !important;
  width: 300px !important;
  overflow-y: auto;
}

.editBox {
  position: absolute;
  height: 70px !important;
  width: 70px !important;
  background-color: rgb(40, 170, 225);
  border: solid 1px #CACACA;
  border-radius: 6px;
  box-shadow:0 5px 15px rgba(0,0,0,.5);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.editBox:hover {
  cursor: hand;
  cursor: pointer;
  background-color: rgb(112, 210, 251);
}

.clipartBox {
  height: 530px !important;
  width: 300px !important;
  border: solid 1px #CACACA;
  border-radius: 6px;
  box-shadow:0 5px 15px rgba(0,0,0,.5);
}

.layerBox {
  height: 530px !important;
  width: 300px !important;
  overflow-y: auto;
}

.imageEditBox {
  height: 530px !important;
  width: 300px !important;
  border: solid 1px #CACACA;
  border-radius: 6px;
  box-shadow:0 5px 15px rgba(0,0,0,.5);
}


.popupBox {
  border: solid 1px #CACACA;
  border-radius: 6px;
  background-color: #FFF;
  box-shadow:0 5px 15px rgba(0,0,0,.5);
  position: absolute;
  z-index: 10;
}

.fontSelectUl {
  z-index: 11;
}


.popupClose {
  margin: -10px 0 0 0;
  width: 55px;
  height: 55px;
  border-left: 1px solid #e5e5e5 !important;
  color: #333;
  opacity: 1;
  text-shadow: none;
  border-top-right-radius: 6px;

  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;

  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
}

.popupTitle {
  padding: 10px 15px 15px 15px;
  border-bottom: 1px solid #e5e5e5;
}

.popupBody {
  padding: 10px;
}

.text-input {
  width: 280px !important;
  height: 70px !important;
}

.topbox {
  padding: 10px 15px 15px 15px;
  border-bottom: 1px solid #e5e5e5;
}

@media screen and (min-width: 1180px) and (max-width: 1550px) {
  .navbar-header {
      display: none;
  }
}

#sortable {
  width: 100% !important;
}

#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0;
    padding-left: 0 !important;
    font-size: 1.4em;
    height: 45px !important;
    width: 100%;
}

.fontSelect {
  text-align: center;
  height: 30px !important;
  font-size: 20px !important;
}

.designbtn {
  border-radius: 2px;
  border: 1px solid #cecece;
  text-align: center;
  line-height: 34px;
  height: 34px;
  background-color: #f5f5f5;
}

.designbtn:hover {
  cursor: hand;
  cursor: pointer;
  background-color: #cecece;
}

.designbtnselected{
  border-radius: 2px;
  background-color: #e6e6e6;
  border: 1px solid #adadad;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  text-align: center;
  line-height: 34px;
  height: 34px;
}

.padding-line {
  height: 5px;
}

table { border-collapse: collapse; empty-cells: show; }

td { position: relative; }


tr.strikeout td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #111;
  width: 100%;
}

tr.strikeout td:after {
  content: "\00B7";
  font-size: 1px;
}
