/* ============================================================================
  Clearfix hax
   ============================================================================ */
	.group:before,
	.group:after {
		content: "";
		display: table;
	}
	
	.group:after {
		cear: both;
	}

/* ============================================================================
   Top Bar
   ============================================================================ */
   
   .topContainer {
		position: relative;
		width:100%;
		overflow:hidden;
		background-color: rgb(100,100,900);
   }
      
   .topLogo {
		float: left;
		margin-right: 3.84%;
		width: 25%;
		padding: 1.73%;
		
   }
   
	.topmenu-floater {
		float: left;
	}
   
   
/* ============================================================================
   Wrapper
   ============================================================================ */
   
   
   
   
   
    
   
   
   
   
/* ============================================================================
   Wrapper
   ============================================================================ */