
#mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
    z-index: 10000;
}

#popup
{

	position:absolute;
	top: 50%;
	left: 50%;
	width:10em;
	height:10em;
	margin-top: -5em; /*set to a negative number 1/2 of your height*/
	margin-left: -5em; /*set to a negative number 1/2 of your width*/
	border: 1px solid #ccc;
	border:  2px solid black;
	background-color:white;
	z-index:100001;
   display:none;
}